@font-face
{
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;

    src: url('../font/SourceSansPro-Regular.ttf');
}

@font-face
{
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-style: normal;

    src: url('../font/SourceSansPro-Bold.ttf');
}

@font-face
{
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: italic;

    src: url('../font/SourceSansPro-Italic.ttf');
}

html
{
    --unit: 25px;
    --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    background: #ecf0f1;
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 18px;
    line-height: var(--unit);

    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 50px 100px;
}

h1
{
    font-weight: normal;
    font-size: 35px;
    line-height: calc(var(--unit) * 2);
}

h2
{
    font-weight: normal;
    font-size: 25px;
    line-height: calc(var(--unit) * 1.5);
}

h3
{
    font-weight: normal;
    font-size: 20px;
    line-height: var(--unit);
}

a
{
    color: inherit;
    border-bottom: 1px solid currentColor;
    text-decoration: none;
}

p
{
    margin: var(--unit) 0;
}

*, *::before, *::after
{
    box-sizing: border-box;
}

/**
 * En-tête
 */

header h1::before
{
    content: url('../image/car.svg');
    display: inline-block;
    vertical-align: -16px;

    margin-right: .5em;

    width: 1.5em;
    height: 1.5em;
}

/**
 * Navigation
 */

nav
{
    box-shadow: var(--shadow);
    margin: calc(var(--unit) * 2) 0;

    background-color: #2c3e50;
    display: flex;
    justify-content: space-between;
}

nav ul
{
    list-style-type: none;
    width: 100%;
    height: 50px;
    display: flex;
    margin: 0px;
}

nav ul li
{
    height: 100%;
    background: #34495e;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 50px;
}

nav ul li a
{
    border: none;
    text-decoration: none;
    color: white;
}

.connection
{
    justify-content: flex-end;
}

.navigation
{
    justify-content: flex-start;
    padding: 0px;
}

/**
 * Blocs
 */

.solid
{
    box-shadow: var(--shadow);
    background: #fff;

    width: 100%;
    margin: 25px 0;
    padding: var(--unit);
}

table.solid
{
    padding: 0;
    border-collapse: collapse;
    overflow: auto;
}

th
{
    background-color: #34495e;
    color: white;
    padding: 20px 30px;
    text-align: center;
    font-weight: normal;
}

td
{
    text-align: center;
    padding: var(--unit);
    color: rgb(111, 111, 111);
}

/**
 * Formulaires
 */

.columns
{
    column-count: 2;
}

label
{
    display: inline-block;
    height: calc(var(--unit) * 1.5);
    width: 200px;
}

input, select
{
    height: calc(var(--unit) * 1.5);
}

input[type="text"]:not([size]), input[type="password"], input[type="email"],
input[type="tel"]
{
    width: 300px;
}
